.boutique {
  .divImg {
    width: 35px;
    height: 35px;
    margin: auto;
    border: 1px solid #f97352;
    border-radius: 50%;
    background-color: white;
    display: flex;
    margin: 3px;
  }
  .centered {
    margin: auto;
    width: 110%;
  }
}
