.concept {
  .chocImg {
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px solid #f97352;
    border-radius: 50%;
    background-color: white;
    display: flex;
  }
  .centered {
    margin: auto;
    max-width: 80%;
  }
}
